/*
@main-color: #1a222f;
@main-color-shade1: #1C2533;
@main-color-shade2: #212B3C;
@main-color-shade3: #44597B;
@main-color-shade4: #6887BB;

@main-color-rgb: 26,34,47,1;
@sub-color-1: #fff;
@sub-color-2: #d24335;

@font-standart: helvetica;
@font-headline-1: Orbitron;

*/


body{
	font-family: 'Montserrat', helvetica, arial;
	font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
	font-family: Orbitron;
	color:#000;
}

.mainbar{
	background-color: #1a222f;
	color: #fff;
	text-align: center;
	padding: 15px;
}


@media (min-width:  992px){
	.mainbar{
		position: fixed;
		width: 25%;
		box-sizing: border-box;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: 15px;
		padding: 15px;
		float: left;
		background-color: #1a222f;
		color: #fff;
		text-align: center;
	}
}



.mainbar h1,h2,h3,h4,h5,h6{
	color: #d24335;
}

@media (min-width:  992px){
	.container-fluid{
		width: 75%;
		float: right;
		padding-left: 45px

	}
}


.initials{
	color: #d24335;
	font-family: Orbitron;
	font-size: 48pt;	
	text-align: center;
	cursor: pointer;
	transition: color 0.5s;
}

.profile{
	box-sizing: border-box;
	padding-bottom: 15px;
}

.profile-pic{
	width: 100%;
	max-width: 300px;
	height: auto;
	clip-path: circle(50% at center);
	overflow: hidden;
}


.no-padding{
	padding: 0;
}


.show-case-button{
	width: 160px;
	height: 40px;

	margin-left: auto;
	margin-right: auto;

	font-family: Orbitron;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	color: #d24335;
	background-color:#1a222f; 

	padding: 5px;
		
	margin-bottom: 15px;
	border: white 1px solid;
}

@media (min-width:  992px){
	.show-case-button{
		position: absolute;
		bottom: 15px;
		left: 0;
		right: 0;
	}
}


.show-case-button:hover{
	font-size: 13pt;
	width: 160px;

	margin-bottom: 10px;
}


.show-case{
	background-color: #1a222f;
	color: #fff;
	text-align: center;
}


.show-case{
	height: auto;
}
@media (min-width:  992px){
	.show-case{
		height: 620px;
	}
}

@media (min-width:  1000px){
	.show-case{
		height: 670px;
	}
}
/* LG Layout Break at 1200*/
@media (min-width:  1200px){
	.show-case{
		height: 800px;
	}
}
@media (min-width:  1300px){
	.show-case{
		height: 740px;
	}
}
@media (min-width:  1400px){
	.show-case{
		height: 700px;
	}
}

@media (min-width:  1500px){
	.show-case{
		height: 680px;
	}
}
@media (min-width:  1600px){
	.show-case{
		height: 640px;
	}
}


.showcase-pic{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	max-width: 230px;
	width: auto;
	max-height:150px;
	border-radius: 15px;
}


.show-case h1,h2,h3,h4,h5,h6{
	color: #d24335;
}

.show-case-container{
	padding-top: 15px;
	padding-bottom: 15px;

}

#profile-button{
	font-family: Orbitron;
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
	color: #d24335;
	padding: 10px;
	width: 90%;
	height: 55px;

	background-color:#1a222f; 
	border: white 1px solid;
}

#profile-button:hover{
	font-size: 17pt;
}


#detail-screen-background{
	z-index: 10;
	position: fixed;
	background-color: #fff;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

#detail-screen{
	position: fixed;
	left: 10%;
	right: 10%;
	z-index: 10;
	opacity: 1.0;
	background-color: #1a222f;
	width: 80%;
	height: 80%;
	margin: auto;
	margin-top: 5%;
	
}
